@media(max-width: 1200px) {
  .container {
    padding: 0 120px;
    width: 700px;
  }
}

/* Media queries */
@media(max-width: 992px) {
  .container {
    padding: 0 100px;
    width: 700px;
  }
}

/* Media queries */
@media(max-width: 768px) {
  .container {
    padding: 0 50px;
    width: 537px;
  }
}

/* Media queries */
@media(max-width: 576px) {
  .container {
    width: 400px;
    padding: 0 30px;
  }
}

.banner {
  background-image: url("https://source.unsplash.com/random");
  background-size: cover;
  text-align: center;
  padding: 160px 0;
}

.container {
  margin: 50px auto;
  width: 700px;
}

h1 {
  font-family: 'Poppins', sans-serif;
  color: white;
  line-height: 60px;
  font-size: 60px;
}

.banner h2 {
  font-family: 'Playfair Display', serif;
  color: white;
  line-height: 32px;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: lighter;
  color: grey;
  line-height: 32px;
}

p {
  color: #494949;
  font-size: 24px;
  line-height: 1.4;
}

.quote {
  text-decoration: none;
  color: #494949;
  font-family: 'Playfair Display', serif;
  padding: 2px;
  font-size: 32px;
  background-color: rgba(234,212,197,.5);
}

.quote:hover {
  background-color: rgba(234,212,197,1);
font-weight: bolder;
}
